{% extends 'base.html' %} 
{% block content %} 
  <div class="row">
    <div class="col-md-12">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Administraci&oacute;n
      </h3>
    </div>
    <div class="clearfix">
      <button type="button" class="btn btn-secondary float-end" onclick="window.location='/create-post-form';">Crear post</button>
    </div>
    <table class="table col-md-12">
      <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Slug</th>
        <th>Resumen</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.slug }}</td>
          <td>{{ post.summary }}</td>
          <td><a href="#">Borrar</a> <a href="#">Editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div><!-- /.row -->
{% endblock %}
